In [2]:
import pandas as pd

/home/hdang/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/hdang/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [ ]:
# Don't change, there for reference if there is a mismatch in school name
translate = {
    'Penn': 'Pennsylvania', 
    'Pitt': 'Pittsburgh',
    'USC': 'Southern California',
    'UCSB':'UC-Santa Barbara', 
    'UIC': 'Illinois-Chicago',
    'Central Connecticut': 'Central Connecticut State', 
    'Uconn': 'Connecticut', 
    'UNC Wilmington':'North Carolina-Wilmington', 
    'Ole Miss':'Mississippi',
    'California':'University of California',
    'USC':'Southern California', 
    'BYU':'Brigham Young', 
    'HolyCross': 'Holy Cross', 
    'Crighton': 'Creighton', 
    'ETSU': 'East Tennessee State', 
    'LSU': 'Louisiana State', 
    "St. Joseph's": "Saint Joseph's", 
    "St. Peter's": "Saint Peter's"
    'UNC Asheville': 'North Carolina-Asheville', 
    'NC State': 'North Carolina State', 
    'UNC': 'North Carolina',
    'UCF': 'Central Florida', 
    'UTEP': 'Texas-El Paso', 
    'UTSA': 'Texas-San Antonio', 
    'VCU': 'Virginia Commonwealth', 
    "Saint Mary's": "Saint Mary's (CA)",
    'UNLV': 'Nevada-Las Vegas',
    'UMBC': 'Maryland-Baltimore County',
    'LIU-Brooklyn': 'Long Island University',
    'Detroit': 'Detroit Mercy',
    'Southern Miss': 'Southern Mississippi',
    'Umass': 'Massachusetts', 
    'SMU': 'Southern Methodist', 
    'TCU': 'Texas Christian', 
    'UNC Greensboro': 'North Carolina-Greensboro'
}

In [13]:
# Intialize data set
year = "200001"
basic_data = pd.read_excel(io="./data/formatted/basicdata" + year + ".xlsx")
playoff_data = pd.read_csv("./data/playoff/playoffdata" + year + ".csv")
playoff_data.drop('season', axis=1, inplace=True)

In [10]:
## basic_data
basic_schools = basic_data['School'].tolist()
basic_schools.sort()

## play off data
winnerNames = playoff_data['winnerName'].tolist()
loserNames = playoff_data['loserName'].tolist()
playoff_schools = list(dict.fromkeys(winnerNames + loserNames))
playoff_schools.sort()

## comparing
same = list()
diff = list()
results = playoff_schools.copy()
for i in basic_schools: 
    if i in playoff_schools:
        same.append(i)
        results.remove(i)
    else: 
        diff.append(i)
        
diff.sort()
print(diff)
print()
print(results)

['Indiana', 'Winthrop']

['Saint Josephâ€™s']

In [17]:
# Intialize data set
years = [
    '200001', '200102', '200203', '200304', '200405', '200506', '200607', '200708', '200809', '200910',
    '201011', '201112', '201213','201314', '201415','201516', '201617', '201718', '201819'
]
for year in years:
    basic_data = pd.read_excel(io="./data/formatted/basicdata" + year + ".xlsx")
    playoff_data = pd.read_csv("./data/playoff/playoffdata" + year + ".csv")
    playoff_data.drop('season', axis=1, inplace=True)

    ### Combining data

    # winner_data
    winner_data = playoff_data.iloc[:, :2]
    winner_data = winner_data.merge(basic_data, left_on='winnerName', right_on='School', how='left')
    winner_data.drop('School', axis=1, inplace=True)
    winner_data.drop('winnerName', axis=1, inplace=True)

    # loser data
    loser_data = playoff_data.iloc[:,2:]
    loser_data = loser_data.merge(basic_data, left_on='loserName', right_on="School", how='left')
    loser_data.drop("School", axis=1, inplace=True)
    loser_data.drop("loserName", axis=1, inplace=True)

    # put together 
    final_data = pd.concat([winner_data, loser_data], axis=1, join='outer')

    #save
    path = './data/formatted/playoffdata' + year + '.csv'
    final_data.to_csv(path_or_buf=path, index=False)

,winnerSeed,ID,OverallWin,OverallLoss,SimpleRanking,ScheduleStrength,ConferenceWin,ConferenceLoss,HomeWin,HomeLoss,...,3PAtt,FreeThrows,FreeThrowsAtt,OffensiveReb,TotalReb,Assists,Steals,Blocks,TurnoverPct,PersonalFouls
0,1.0,117,27,8,23.32,11.38,13,3,13,0,...,551.0,581.0,877.0,410.0,1178.0,392.0,308.0,133.0,537.0,765.0
1,9.0,47,22,11,14.24,7.91,10,6,10,2,...,697.0,593.0,872.0,421.0,1301.0,528.0,232.0,191.0,528.0,712.0
2,5.0,267,25,9,11.14,5.82,10,6,15,2,...,507.0,483.0,666.0,335.0,999.0,557.0,183.0,74.0,516.0,605.0
3,4.0,129,26,7,20.23,9.03,12,4,14,1,...,547.0,613.0,865.0,373.0,1158.0,608.0,267.0,77.0,489.0,716.0
4,6.0,203,20,10,14.35,5.68,11,5,13,4,...,587.0,540.0,768.0,391.0,1125.0,398.0,208.0,115.0,415.0,551.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,3.0,154,25,11,23.82,10.99,10,6,11,3,...,561.0,540.0,817.0,607.0,1481.0,547.0,324.0,198.0,550.0,694.0
59,3.0,154,25,11,23.82,10.99,10,6,11,3,...,587.0,671.0,903.0,365.0,1244.0,568.0,187.0,108.0,438.0,778.0
60,1.0,74,35,4,32.18,11.98,13,3,13,2,...,540.0,622.0,894.0,543.0,1478.0,692.0,322.0,213.0,523.0,713.0
61,2.0,12,28,8,26.84,12.56,15,3,13,2,...,453.0,493.0,686.0,514.0,1404.0,579.0,210.0,133.0,451.0,611.0
62,1.0,74,35,4,32.18,11.98,13,3,13,2,...,544.0,703.0,940.0,487.0,1433.0,585.0,283.0,159.0,546.0,630.0